:root {
  --backColor:rgb(13, 14, 14);
  --text:#9ca4a2;
  --h1:#000000;
  --border:rgb(67, 62, 62);
  --deg:90%;
  }

body {
  
  margin: 0;
  background-color:var(--backColor) ;
}
#root {
   width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}
#card{
  padding: 0px 10px;
  border-radius: 10px;
  width: 90%;
  border-inline: .5px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#imagebox{
  width: 200px;
  height: 200px;
 position: relative;
  border-radius: 50%;
} 
@property --borderspin{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --deg{
    syntax: "<percentage>";
    initial-value: 90%;
    inherits: false;
}
#imagebox::before{
  z-index: -1;
  padding: 5px;
  content: '';
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--borderspin), 
    transparent var(--deg),
     red,rgb(36, 36, 239), orangered, orange
     );
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  transition: .3s all linear;
  animation: 2.5s spin linear infinite;
}
@keyframes spin{
0%{
--deg:90%;
--borderspin:0deg;
}
50%{
--deg:0%;
--borderspin:180deg;
}
100%{
--deg: 90%;
--borderspin:360deg;
}
}
h1{
  color:var(--h1);
  -webkit-text-stroke: .2px white;

}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:var(--text);
  font-size: clamp(1em, 3vw, 1.5em);
}
#info{
width: 90%;
border-inline: 1px solid var(--border);
border-radius: 5px;
}

section{
  background-color: var(--backColor);
  position: sticky;
  top: 0;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 5px white;
  height: 50vh;
  width: 99%;
  border-inline: 1px solid white;
}
@keyframes move{
  from{
    translate: 0;
  }
  to{
    translate: -100%;
  }
}
.section1{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  overflow-x: auto; 
  gap: 1em;
  overflow: hidden;
 
}
.section1::-webkit-scrollbar{
  display: none;
}
.last{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom,rgb(112, 20, 20),var(--backColor), blue);
}
.second{
  background: linear-gradient(45deg,rgb(112, 20, 20),var(--backColor), blue);
}
.third{
    background: linear-gradient(-45deg, rgb(155, 21, 21),var(--backColor),rgb(36, 36, 239));
}
.group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1em;
  animation: move 5s linear infinite;
  padding-right: 1em;
 }
 svg {
  flex: 1 1 5em;
 }